ROGUEFORGE_HOST_PORT=17810
ROGUEFORGE_IMAGE=ghcr.io/rogueassassin/rogueforge:0.8.0
ROGUEFORGE_DEPLOY_ENGINE=podman
ROGUEFORGE_ENGINE=podman
ROGUEFORGE_SOCKET_SOURCE=/run/user/1000/podman/podman.sock
ROGUEFORGE_SOCKET_TARGET=/run/podman/podman.sock
ROGUEFORGE_CONTAINER_HOST=unix:///run/podman/podman.sock
ROGUEFORGE_PODMAN_REMOTE=true
ROGUEFORGE_STACKS_DIR=/opt/media-server
ROGUEFORGE_SCAN_DEPTH=4
ROGUEFORGE_DISCOVERY_CACHE=10
ROGUEFORGE_ICONS_DIR=/opt/media-server/rogue-dashboard/app/static/icons
ROGUEFORGE_SELF_STACK=rogueforge
ROGUEFORGE_PUBLIC_URL=https://manage.roguegaming.com.au
ROGUEFORGE_NETWORK=media-net
