PODMAN_UID=1000
ROGUEFORGE_HOST_PORT=17810
ROGUEFORGE_IMAGE=ghcr.io/rogueassassin/rogueforge:0.4.1
ROGUEFORGE_STACKS_DIR=/opt/media-server
ROGUEFORGE_ICONS_DIR=/opt/media-server/rogue-dashboard/app/static/icons
ROGUEFORGE_PUBLIC_URL=https://manage.roguegaming.com.au
ROGUEFORGE_NETWORK=media-net
